################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/class_exe/v16
/Accessibility/Debug
/AnonymousObject/Debug
/ArrayPractice/Debug
/BaseClassCtor/Debug
/BaseDefaulrCtor/Debug
/CheckPath/Debug
/class_2/Debug
/class_exe/Debug
/Constexpr/Debug
/CopyCtor/Debug
/CtorChain/Debug
/Debug
/DeepCopy/Debug
/DefaultCtor/Debug
/Destructor/Debug
/Dynamic_cast/Debug
/ImmutableObject/Debug
/InClassInitializer/Debug
/Inheritance/Debug
/ObjectAsArguement/Debug
/ObjectAsReturnValue/Debug
/OrderMemInit/Debug
/Parse/Debug
/PathOperators/Debug
/PathQuery/Debug
/PathSpace/Debug
/Polymorphism/Debug
/RedefineFunctions/Debug
/StackOfIntegers/Debug
/StaticMembers/Debug
/StructuredBinding1/Debug
/StructuredBinding2/Debug
/Test5_1/Debug
/Test5_2/Debug
/Test6_1/Debug
/Test6_3/Debug
/TestArray/Debug
/TestObjectCopy/Debug
/TestString/Debug
/TestVector/Debug
/Typeid/Debug
/.vs
/BinaryIO/Debug/BinaryIO.tlog
/BinaryIO/Debug
/BufferedIO/Debug
/FileInput/Debug
/FileIO/Debug
/FileOpenMode/Debug
/FileOutput/Debug
/FormatOutput/Debug
/GetlineDemo/Debug
/HomeWork/Debug
/OverloadAssignmentOperator/Debug
/RandomAccess/Debug
/Test8_1/Debug
/Test8_2/Debug
/Vec2D/Debug
/bad_alloc/Debug
/bad_alloc/Release
/bad_cast/Debug
/CustomExcept/Debug
/ExceptionDemo1/Debug
/GenericAdd/Debug
/Instantiate/Debug
/MultipleCatch1/Debug
/noexcept/Debug
/out_of_range/Debug
/out_of_range/Release
/Propgate/Debug
/Release
/RethrowException/Debug
/SelectionSort/Debug
/Test9_1/Debug
/DequeDemo/Debug
/GenericStack/Debug
/ListDemo/Debug
/MapDemo/Debug
/SetDemo/Debug
/SimpleSTLDemo/Debug
/SpecialParams/Debug
/Test10_1/Debug
/Test10_2/Debug
/Test_10_1/Debug
/VectorDemo/Debug
